.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 5px 0;
  width: 190px;
  height: 42px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Merriweather";
  cursor: pointer;
  user-select: none;
  opacity: 0.9;
  box-shadow: 1px 2px 0px 0px rgb(63, 81, 93);
  &:hover {
    opacity: 1;
  }
}
