.card-info-row {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: flex-end;
  border-bottom: 1px solid rgb(219, 223, 225);
}
.field-name {
  width: 4.68rem;
  text-transform: uppercase;
  font-size: 10px;
  color: #34495e;
  font-weight: 400;
  font-family: "Merriweather Sans";
}

.field-data {
  width: 19.695rem;
  font-size: 16px;
  color: #000000;
  font-family: "Merriweather";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &-short {
    width: 7.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
