@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:regular,bold,extra-bold,italic&subset=latin,latin-ext");
@import "alertifyjs/build/css/alertify.css";
html,
body {
  font-size: 16px;
  margin: 0;
  font-family: "Merriweather";
}

.alertify-notifier {
  color: #ffffff;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 960px) {
  html,
  body {
    font-size: 12.5px;
  }
}
