@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:regular,bold,extra-bold,italic&subset=latin,latin-ext");

html,
body {
  font-size: 16px;
  margin: 0;
  font-family: "Merriweather";
}
